body {
  background-color: lightgrey;
}

.card {
  background-color: inherit;
  height: 220px;
}

/*.card-body {
  background-color: #3c3054;
}

.card-list {
  background-color: #3c3054;
}*/

.rarity-5stars {
  background: linear-gradient(180deg, #885550, #c9a36a 53%) !important;
}

.rarity-4stars {
  background: linear-gradient(180deg, #343659, #8a5fcc 53%) !important;
}

.character-info {
  background: inherit;
  border-width: 1px 0 0 0 !important;
}

.img-container {
  overflow: hidden;
}

.icon {
  width: 40px;
  border-radius: 50%;
}

@media (max-width: 1400px) {
  .icon{
    display: none;
  }
}

.splash {
  transform: scale(4);
  min-height: 174px;
  min-width: 174px;
}

.acheron .splash {
  transform-origin: 50% 20%;
}

.argenti .splash {
  transform-origin: 28% 28%;
}

.arlan .splash {
  transform-origin: 68% 40%;
}

.asta .splash {
  transform-origin: 45% 35%;
}

.aventurine .splash {
  transform-origin: 59% 34%;
}

.bailu .splash {
  transform-origin: 58% 32%;
}

.blackswan .splash {
  transform-origin: 40% 27%;
}

.blade .splash {
  transform-origin: 50% 7%;
}

.bronya .splash {
  transform-origin: 45% 50%;
}

.clara .splash {
  transform-origin: 40% 25%;
}

.danheng .splash {
  transform-origin: 58% 40%;
}

.dhil .splash {
  transform-origin: 60% 25%;
}

.fuxuan .splash {
  transform-origin: 46% 25%;
}

.gallagher .splash {
  transform-origin: 57% 17%;
}

.gepard .splash {
  transform-origin: 60% 40%;
}

.guinaifen .splash {
  transform-origin: 50% 32%;
}

.hanya .splash {
  transform-origin: 50% 32%;
}

.herta .splash {
  transform-origin: 49% 18%;
}

.himeko .splash {
  transform-origin: 51% 50%;
}

.hook .splash {
  transform-origin: 52% 50%;
}

.huohuo .splash {
  transform-origin: 46% 35%;
}

.jingliu .splash {
  transform-origin: 51% 18%;
}

.jingyuan .splash {
  transform-origin: 51% 40%;
}

.kafka .splash {
  transform-origin: 48% 30%;
}

.luka .splash {
  transform-origin: 44% 23%;
}

.luocha .splash {
  transform-origin: 51% 27%;
}

.lynx .splash {
  transform-origin: 61% 35%;
}

.march .splash {
  transform-origin: 49% 32%;
}

.misha .splash {
  transform-origin: 59% 40%;
}

.natasha .splash {
  transform-origin: 51% 19%;
}

.pela .splash {
  transform-origin: 36% 40%;
}

.qingque .splash {
  transform-origin: 48% 31%;
}

.drratio .splash {
  transform-origin: 49% 20%;
}

.ruanmei .splash {
  transform-origin: 54% 33%;
}

.sampo .splash {
  transform-origin: 51% 25%;
}

.seele .splash {
  transform-origin: 38% 56%;
}

.serval .splash {
  transform-origin: 55% 45%;
}

.silverwolf .splash {
  transform-origin: 59% 37%;
}

.sparkle .splash {
  transform-origin: 52% 35%;
}

.sushang .splash {
  transform-origin: 53% 37%;
}

.tingyun .splash {
  transform-origin: 54% 23%;
}

.topaz .splash {
  transform-origin: 58% 18%;
}

.welt .splash {
  transform-origin: 44% 25%;
}

.xueyi .splash {
  transform-origin: 50% 23%;
}

.yanqing .splash {
  transform-origin: 55% 28%;
}

.yukong .splash {
  transform-origin: 46% 33%;
}
